html, body {
    background-color: #EEEEEE;
    font-size: 25px;
    font-family: '';
}

footer {
    position : absolute;
    bottom : 0;
    width : 100%;
    font-size: 15px;
}

a {
    text-decoration: none;
    transition: color 500ms 0s;
}

a:link {
    color: #000000;
    text-align: left;
    
}

a:visited {
    color: #000000;
    text-align: left;
}

a:hover {
    color: #990033
}